{
  "openapi": "3.1.0",
  "info": {
    "title": "Messaging Me API",
    "version": "1",
    "description": "The public API of Messaging Me: contacts, sends, conversations, templates and outgoing webhooks. Errors are { error, code }; code is absent only on generic failures."
  },
  "servers": [
    {
      "url": "https://api.messagingme.app"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "Conversations"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Sends"
    },
    {
      "name": "Templates"
    },
    {
      "name": "Outgoing webhooks"
    },
    {
      "name": "Catalogs"
    }
  ],
  "paths": {
    "/v1/conversations": {
      "get": {
        "operationId": "listConversations",
        "summary": "Lists conversations, most recent first, page by page.",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "conversations:read",
        "description": "Requires the conversations:read scope.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "description": "Page size.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200,
              "description": "The nextCursor of the previous page, as is."
            }
          },
          {
            "name": "needsReply",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only the conversations waiting for your reply."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "contact": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "phone": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "name": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "externalId": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "phone",
                              "name",
                              "externalId"
                            ]
                          },
                          "lastMessageAt": {
                            "type": "string",
                            "description": "ISO 8601 date-time"
                          },
                          "lastDirection": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "in",
                                  "out"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "windowExpiresAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "description": "ISO 8601 date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "handledBy": {
                            "type": "string",
                            "enum": [
                              "team",
                              "meta_agent",
                              "automation"
                            ]
                          },
                          "needsReply": {
                            "type": "boolean"
                          },
                          "archived": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "contact",
                          "lastMessageAt",
                          "lastDirection",
                          "windowExpiresAt",
                          "handledBy",
                          "needsReply",
                          "archived"
                        ]
                      }
                    },
                    "nextCursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "nextCursor"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_body, invalid_cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations/{conversationId}": {
      "get": {
        "operationId": "getConversation",
        "summary": "Reads a conversation: the contact, who handles it, the 24-hour window.",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "conversations:read",
        "description": "Requires the conversations:read scope.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "contact": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "phone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "externalId": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "phone",
                        "name",
                        "externalId"
                      ]
                    },
                    "lastMessageAt": {
                      "type": "string",
                      "description": "ISO 8601 date-time"
                    },
                    "lastDirection": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "in",
                            "out"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "windowExpiresAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "ISO 8601 date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "handledBy": {
                      "type": "string",
                      "enum": [
                        "team",
                        "meta_agent",
                        "automation"
                      ]
                    },
                    "needsReply": {
                      "type": "boolean"
                    },
                    "archived": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "contact",
                    "lastMessageAt",
                    "lastDirection",
                    "windowExpiresAt",
                    "handledBy",
                    "needsReply",
                    "archived"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error: conversation_not_found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations/{conversationId}/messages": {
      "get": {
        "operationId": "listConversationMessages",
        "summary": "A conversation’s messages, most recent first, page by page.",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "conversations:read",
        "description": "Requires the conversations:read scope.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "default": 50,
              "description": "Page size.",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200,
              "description": "The nextCursor of the previous page, as is."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "conversationId": {
                            "type": "string"
                          },
                          "direction": {
                            "type": "string",
                            "enum": [
                              "in",
                              "out"
                            ]
                          },
                          "channel": {
                            "type": "string",
                            "enum": [
                              "whatsapp",
                              "rcs"
                            ]
                          },
                          "type": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "text": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "buttonPayload": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "transcription": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "media": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "mimeType": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "filename": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "expired": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "mimeType",
                                  "filename",
                                  "expired"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "status": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "sent",
                                  "delivered",
                                  "read",
                                  "failed"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "statusAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "description": "ISO 8601 date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "error": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "anyOf": [
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "reason": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "code",
                                  "reason"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO 8601 date-time"
                          }
                        },
                        "required": [
                          "id",
                          "conversationId",
                          "direction",
                          "channel",
                          "type",
                          "text",
                          "buttonPayload",
                          "transcription",
                          "media",
                          "status",
                          "statusAt",
                          "error",
                          "createdAt"
                        ]
                      }
                    },
                    "nextCursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "nextCursor"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_body, invalid_cursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error: conversation_not_found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{messageId}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Reads a message by its ID.",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "conversations:read",
        "description": "Requires the conversations:read scope.",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "conversationId": {
                      "type": "string"
                    },
                    "direction": {
                      "type": "string",
                      "enum": [
                        "in",
                        "out"
                      ]
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "whatsapp",
                        "rcs"
                      ]
                    },
                    "type": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "text": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "buttonPayload": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "transcription": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "media": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "mimeType": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "filename": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "expired": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "mimeType",
                            "filename",
                            "expired"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "sent",
                            "delivered",
                            "read",
                            "failed"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "statusAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "ISO 8601 date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "reason": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "code",
                            "reason"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "ISO 8601 date-time"
                    }
                  },
                  "required": [
                    "id",
                    "conversationId",
                    "direction",
                    "channel",
                    "type",
                    "text",
                    "buttonPayload",
                    "transcription",
                    "media",
                    "status",
                    "statusAt",
                    "error",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error: message_not_found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{messageId}/media": {
      "get": {
        "operationId": "getMessageMedia",
        "summary": "Downloads the file of a received message.",
        "tags": [
          "Conversations"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "conversations:read",
        "description": "Requires the conversations:read scope.",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The file, served with its own content type (image, audio, video, document).",
            "content": {
              "*/*": {}
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error: message_not_found, no_media.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "Error: media_expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error: media_unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "post": {
        "operationId": "upsertContact",
        "summary": "Creates or updates a record.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "contacts:write",
        "description": "Requires the contacts:write scope.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})$"
                  },
                  "externalId": {
                    "type": "string",
                    "maxLength": 512
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "bsuid": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "name": {
                    "type": "string"
                  },
                  "fields": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 64
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        }
                      ]
                    }
                  },
                  "tags": {
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    }
                  },
                  "consent": {
                    "type": "string",
                    "enum": [
                      "opted_in",
                      "opted_out"
                    ]
                  },
                  "consentSource": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "optIn": {
                    "not": {}
                  },
                  "optInSource": {
                    "not": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "created",
                        "updated"
                      ]
                    }
                  },
                  "required": [
                    "contactId",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_body, invalid_recipient, invalid_phone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Error: plan_limit_reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error: unknown_contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error: identity_conflict, opted_out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/batch": {
      "post": {
        "operationId": "upsertContacts",
        "summary": "Creates or updates up to 50 records in one call.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "contacts:write",
        "description": "Requires the contacts:write scope.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contacts": {
                    "minItems": 1,
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "contactId": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})$"
                        },
                        "externalId": {
                          "type": "string",
                          "maxLength": 512
                        },
                        "phone": {
                          "type": "string",
                          "maxLength": 64
                        },
                        "bsuid": {
                          "type": "string",
                          "maxLength": 200
                        },
                        "name": {
                          "type": "string"
                        },
                        "fields": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string",
                            "maxLength": 64
                          },
                          "additionalProperties": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          }
                        },
                        "tags": {
                          "maxItems": 10,
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              }
                            ]
                          }
                        },
                        "consent": {
                          "type": "string",
                          "enum": [
                            "opted_in",
                            "opted_out"
                          ]
                        },
                        "consentSource": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "optIn": {
                          "not": {}
                        },
                        "optInSource": {
                          "not": {}
                        }
                      }
                    }
                  }
                },
                "required": [
                  "contacts"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "created",
                                  "updated"
                                ]
                              },
                              "contactId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "index",
                              "status",
                              "contactId"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "index": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string",
                                "const": "error"
                              },
                              "code": {
                                "type": "string",
                                "enum": [
                                  "invalid_body",
                                  "invalid_recipient",
                                  "invalid_phone",
                                  "unauthorized",
                                  "missing_scope",
                                  "tenant_locked",
                                  "unknown_contact",
                                  "duplicate",
                                  "identity_conflict",
                                  "blocked_contact",
                                  "opted_out",
                                  "no_consent",
                                  "window_closed",
                                  "missing_variable",
                                  "no_phone",
                                  "rcs_unreachable",
                                  "rcs_not_enabled",
                                  "no_whatsapp_number",
                                  "meta_rejected",
                                  "invalid_header_media",
                                  "template_rejected",
                                  "meta_auth_failed",
                                  "webhook_not_found",
                                  "delivery_not_found",
                                  "delivery_not_replayable",
                                  "webhooks_unavailable",
                                  "field_exists",
                                  "number_unlinked",
                                  "number_suspended",
                                  "scenario_not_found",
                                  "node_not_found",
                                  "template_not_found",
                                  "rcs_message_not_found",
                                  "send_not_found",
                                  "conversation_not_found",
                                  "message_not_found",
                                  "invalid_cursor",
                                  "no_media",
                                  "media_expired",
                                  "media_unavailable",
                                  "scenario_ambiguous",
                                  "unsendable_target",
                                  "template_category_unknown",
                                  "idempotency_key_required",
                                  "idempotency_in_progress",
                                  "idempotency_key_reused",
                                  "rate_limited",
                                  "quota_exceeded",
                                  "plan_feature_unavailable",
                                  "plan_limit_reached"
                                ]
                              },
                              "reason": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "index",
                              "status",
                              "code",
                              "reason"
                            ]
                          }
                        ]
                      }
                    },
                    "created": {
                      "type": "number"
                    },
                    "updated": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "results",
                    "created",
                    "updated",
                    "errors"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}": {
      "get": {
        "operationId": "getContact",
        "summary": "Reads a record.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "contacts:read",
        "description": "Requires the contacts:read scope.",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    },
                    "externalId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "bsuid": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "fields": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "consent": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "opted_in",
                            "opted_out",
                            "unknown"
                          ]
                        },
                        "source": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "optedOutAt": {
                          "anyOf": [
                            {
                              "type": "string",
                              "description": "ISO 8601 date-time"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "status",
                        "source",
                        "optedOutAt"
                      ]
                    },
                    "rcsOptedOutAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "ISO 8601 date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "blocked": {
                      "type": "boolean"
                    },
                    "reachability": {
                      "type": "object",
                      "properties": {
                        "whatsapp": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "rcs": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "whatsapp",
                        "rcs"
                      ]
                    },
                    "engagementRisk": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "level": {
                              "type": "string",
                              "enum": [
                                "inconnu",
                                "faible",
                                "moyen",
                                "eleve"
                              ]
                            },
                            "score": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "reasons": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "stop",
                                  "bloque",
                                  "silence_60j",
                                  "silence_30j",
                                  "sans_reponse",
                                  "non_lu",
                                  "reclamation",
                                  "negatif",
                                  "insatisfait",
                                  "injoignable"
                                ]
                              }
                            },
                            "computedAt": {
                              "type": "string",
                              "description": "ISO 8601 date-time"
                            }
                          },
                          "required": [
                            "level",
                            "score",
                            "reasons",
                            "computedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastAnalysis": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "intent": {
                              "type": "string",
                              "enum": [
                                "demande_devis",
                                "sav",
                                "reclamation",
                                "information",
                                "prise_rdv",
                                "achat",
                                "suivi_commande",
                                "retour",
                                "autre"
                              ]
                            },
                            "sentiment": {
                              "type": "string",
                              "enum": [
                                "positif",
                                "neutre",
                                "negatif"
                              ]
                            },
                            "satisfaction": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "urgency": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "resolved": {
                              "type": "boolean"
                            },
                            "topic": {
                              "type": "string"
                            },
                            "handledBy": {
                              "type": "string",
                              "enum": [
                                "humain",
                                "automatise",
                                "mba"
                              ]
                            },
                            "actionSuggestion": {
                              "type": "string",
                              "enum": [
                                "creer_devis",
                                "rappeler",
                                "relancer",
                                "escalader",
                                "aucune"
                              ]
                            },
                            "analyzedAt": {
                              "type": "string",
                              "description": "ISO 8601 date-time"
                            }
                          },
                          "required": [
                            "intent",
                            "sentiment",
                            "satisfaction",
                            "urgency",
                            "resolved",
                            "topic",
                            "handledBy",
                            "actionSuggestion",
                            "analyzedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "ISO 8601 date-time"
                    }
                  },
                  "required": [
                    "contactId",
                    "externalId",
                    "phone",
                    "bsuid",
                    "name",
                    "fields",
                    "tags",
                    "consent",
                    "rcsOptedOutAt",
                    "blocked",
                    "reachability",
                    "engagementRisk",
                    "lastAnalysis",
                    "createdAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error: unknown_contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Erases a record for good (GDPR), within the plan’s daily limit.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "contacts:admin",
        "description": "Requires the contacts:admin scope.",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "const": true
                    },
                    "conversations": {
                      "type": "number"
                    },
                    "messages": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "deleted",
                    "conversations",
                    "messages"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Error: plan_limit_reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error: unknown_contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "Updates a record’s fields, tags, consent or external id.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "contacts:write",
        "description": "Requires the contacts:write scope.",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "fields": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "maxLength": 64
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "addTags": {
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    }
                  },
                  "removeTags": {
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    }
                  },
                  "consent": {
                    "type": "string",
                    "enum": [
                      "opted_in",
                      "opted_out"
                    ]
                  },
                  "consentSource": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "externalId": {
                    "type": "string",
                    "maxLength": 512
                  },
                  "phone": {
                    "not": {}
                  },
                  "bsuid": {
                    "not": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "contactId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_body, invalid_phone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error: unknown_contact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error: identity_conflict, opted_out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/search": {
      "post": {
        "operationId": "searchContact",
        "summary": "Finds a record by phone, BSUID or external id.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "contacts:read",
        "description": "Requires the contacts:read scope.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "externalId": {
                    "type": "string",
                    "maxLength": 512
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "bsuid": {
                    "type": "string",
                    "maxLength": 200
                  }
                },
                "description": "Exactly one of phone, bsuid or externalId."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "contactId": {
                              "type": "string"
                            },
                            "externalId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "phone": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "bsuid": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "name": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "fields": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "consent": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "opted_in",
                                    "opted_out",
                                    "unknown"
                                  ]
                                },
                                "source": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "optedOutAt": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "description": "ISO 8601 date-time"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "status",
                                "source",
                                "optedOutAt"
                              ]
                            },
                            "rcsOptedOutAt": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "description": "ISO 8601 date-time"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "blocked": {
                              "type": "boolean"
                            },
                            "reachability": {
                              "type": "object",
                              "properties": {
                                "whatsapp": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "rcs": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "whatsapp",
                                "rcs"
                              ]
                            },
                            "engagementRisk": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "level": {
                                      "type": "string",
                                      "enum": [
                                        "inconnu",
                                        "faible",
                                        "moyen",
                                        "eleve"
                                      ]
                                    },
                                    "score": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "reasons": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "stop",
                                          "bloque",
                                          "silence_60j",
                                          "silence_30j",
                                          "sans_reponse",
                                          "non_lu",
                                          "reclamation",
                                          "negatif",
                                          "insatisfait",
                                          "injoignable"
                                        ]
                                      }
                                    },
                                    "computedAt": {
                                      "type": "string",
                                      "description": "ISO 8601 date-time"
                                    }
                                  },
                                  "required": [
                                    "level",
                                    "score",
                                    "reasons",
                                    "computedAt"
                                  ]
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lastAnalysis": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "intent": {
                                      "type": "string",
                                      "enum": [
                                        "demande_devis",
                                        "sav",
                                        "reclamation",
                                        "information",
                                        "prise_rdv",
                                        "achat",
                                        "suivi_commande",
                                        "retour",
                                        "autre"
                                      ]
                                    },
                                    "sentiment": {
                                      "type": "string",
                                      "enum": [
                                        "positif",
                                        "neutre",
                                        "negatif"
                                      ]
                                    },
                                    "satisfaction": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "urgency": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "resolved": {
                                      "type": "boolean"
                                    },
                                    "topic": {
                                      "type": "string"
                                    },
                                    "handledBy": {
                                      "type": "string",
                                      "enum": [
                                        "humain",
                                        "automatise",
                                        "mba"
                                      ]
                                    },
                                    "actionSuggestion": {
                                      "type": "string",
                                      "enum": [
                                        "creer_devis",
                                        "rappeler",
                                        "relancer",
                                        "escalader",
                                        "aucune"
                                      ]
                                    },
                                    "analyzedAt": {
                                      "type": "string",
                                      "description": "ISO 8601 date-time"
                                    }
                                  },
                                  "required": [
                                    "intent",
                                    "sentiment",
                                    "satisfaction",
                                    "urgency",
                                    "resolved",
                                    "topic",
                                    "handledBy",
                                    "actionSuggestion",
                                    "analyzedAt"
                                  ]
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "ISO 8601 date-time"
                            }
                          },
                          "required": [
                            "contactId",
                            "externalId",
                            "phone",
                            "bsuid",
                            "name",
                            "fields",
                            "tags",
                            "consent",
                            "rcsOptedOutAt",
                            "blocked",
                            "reachability",
                            "engagementRisk",
                            "lastAnalysis",
                            "createdAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "contact"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_body, invalid_phone.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fields": {
      "get": {
        "operationId": "listFields",
        "summary": "Lists the custom fields: the keys to use in fields.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "contacts:read",
        "description": "Requires the contacts:read scope.",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "key",
                          "label",
                          "type"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error: missing_scope, tenant_locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error: rate_limited, quota_exceeded. Wait for Retry-After (seconds) before retrying.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createField",
        "summary": "Creates a custom field; its key comes from the label.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "x-required-scope": "contacts:admin",
        "description": "Requires the contacts:admin scope.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "number",
                      "date",
                      "datetime",
                      "boolean",
                      "url"
                    ]
                  }
                },
                "required": [
                  "label",
                  "type"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "key",
                    "label",
                    "type"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error: unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
[...]
